html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #f9fafb, #f1f5f9);
  min-height: 100vh;
  color: #1e293b;
}

.main-container h2 {
  font-size: clamp(2.4rem, 2.5rem + 4vw, 6rem);
  margin-bottom: 0.5rem;
  color: #0f172a;
}

.main-container p {
  font-size: clamp(2rem, 1.5rem + 4vw, 3.8rem);
  margin: 0.5rem 0;
}

.buttons-container {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.2rem;
  margin: 2rem 0;
}

.buttons-container button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem 4rem;
  cursor: pointer;
  font-size: clamp(1.5rem, 1.5rem + 2vw, 2.5rem);
  transition: all 0.3s ease;
}

button:hover:not(:disabled) {
  background-color: #1d4ed8;
  transform: translateY(-1px);
	opacity: 0.8;
}

button:disabled {
  background-color: #94a3b8;
	opacity: 0.25;
  cursor: not-allowed;
}

.transcript {
  font-size: clamp(1.2rem, 1.2rem + 2vw, 1.8rem);
  color: #0f172a;
  background-color: #e2e8f0;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  min-width: 300px;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
